/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'Nunito-Regular';
	src: url(../fonts/Nunito-Regular.ttf);
  } 
  @font-face {
	font-family: 'Montserrat-Black';
	src: url(../fonts/Montserrat-Black.ttf);
  } 
  @font-face {
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat-Bold.ttf);
  } 
  @font-face {
	font-family: 'open-sans.regular';
	src: url(../fonts/open-sans.regular.ttf);
  } 
  @font-face {
	font-family: 'Roboto-Bold';
	src: url(../fonts/Roboto-Bold.ttf);
  }
  section{
    margin-top: 100px;
  }
.navbar{
    background:#40c0d9;
}
.navbar-brand{
    margin-left: 100px;
}
.navbar-nav{
    margin-left: 150px;
}
.nav-item a{
    font-size: 25px;
    margin-left: 70px;
}
.header-title h2{
    font-size: 120px;
    font-family: 'Montserrat-Black';
    margin-top: 100px;
    color: #944867;
}
.header-title h3{
    font-size: 70px;
    font-family: 'Montserrat-Bold';
    color: #944867;
}
.header-title h4{
    font-family: 'open-sans.regular';
    font-size: 20px; 
    color: #707070;
    padding-top: 30px;
}
.header-title button{
    margin-top: 30px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    background: #944867;
    font-family: 'Roboto-Bold';
}
.about-bg{
 
}
.title-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about h2{
  font-family: 'Montserrat-Bold';
  font-size: 60px;
  color: #000;
  padding-top: 200px;
  text-transform: uppercase;
}
.about h3{
  font-family: 'open-sans.regular';
  font-size: 20px;
  color: #000;
  padding-top: 20px;
}
.about ul li {
  margin-top: 20px;
  margin-right: 50px;
  display: inline-block;
}
.about ul li a{
  text-decoration: none;
  font-size: 25px;
  color: #ffffff; 
}
.about ul li a i{
  
  padding: 10px 10px;
  border-radius: 100%;
}
.about ul li a i:hover{
  background: #eb5757;
}
.about-us{
  background: #40c0d9;
}
.choice h2{
  font-family: 'Montserrat-Bold';
  font-size: 60px;
  padding-bottom: 30px;
  margin-top:25%;
}
.choice ul li{
  font-size: 30px;
  color: #707070;
  padding-bottom: 20px;
  
}
.choice ul li i{
  margin-right: 10px;
}
.choich-img{
  display: block;
  margin-left: 30%;
  margin-right: auto;
}
.choice button{
  background: #944867;
  color: #ffffff;
  height: 40px;
  width: 130px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  border: none;
}
.slogan h2{
  color: #944867;
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  text-align: center;
}
.slogan h3{
  color: #944867;
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.div-title h2{
  font-family: 'Montserrat-Bold';
  font-size: 60px;
  text-align: center;
  color: #944867;
  text-transform: uppercase;
}
.treatment img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.treatment h2{
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}
.our-activity{
  background: #40c0d9;
}
.activity h2{
  font-family: 'Montserrat-Bold';
  font-size: 60px;
  color: #ffffff;
  padding-left: 10%;
  padding-top: 40%;
}
.activity h3{
  font-family: 'open-sans.regular';
  font-size: 25px;
  color: #ffffff;
  padding-left: 10%;
  padding-top: 20px;
}
.activity button{
  background: #944867;
  color: #ffffff;
  height: 40px;
  width: 130px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  margin-left: 10%;
  margin-top: 20px;
}